@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Manrope:wght@300&display=swap');

body {
    text-align: center;
    margin: 3% auto;
    padding: 8%;
    font-family: 'Manrope', sans-serif;
    background-color: #f9f9f9;
    color: black;
}

img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

a {
    color:darkgoldenrod;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

td {
    padding: 3px;
}

ul {
    text-align: left;
}

table {
    padding: 3%;
}