@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=League+Spartan:wght@200&family=Press+Start+2P&family=Questrial&display=swap');

body {
    background-color:antiquewhite;
    margin-left: 9%;
    margin-right: 9%;
}

img {
    border-radius: 10%;
    width:  200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
}

    @media screen and (max-width: 600px) {
        img {
            border-radius: 10%;
            width:  80px;
            height: 80px;
            margin: 6px 6px 6px 6px;
        }
    }

p {
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
}

.congrats {
    color:crimson;
}

h1 {
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
}

h3 {
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
}